@tailwind base;
@tailwind components;
@tailwind utilities;


.shimmer {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }

h2 {
    font-size: 1.5rem;
    font-weight: semi-bold;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}


li {
    margin-bottom: 0.1rem;
}

  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }